<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">CONTACTS</a></h5>
  <div class="short-about">
    <div class="">
      <div class="contacts">
        <div>National</div>
        <img src="{{ site.url }}/img/maurice.jpeg" />
        <div>Maurice Bosenga</div>
        <div>+243 854 233 320</div>
        <div>French-Lingala</div>
      </div>
      <div class="contacts">
        <div>International</div>
        <img src="{{ site.url }}/img/tati.jpeg" />
        <div>Tatiana Zihindula</div>
        <div>+353 838 455 788</div>
        <div>English-French-Swahili</div>
      </div>
    </div>
  </div>
</section>